<!DOCTYPE html>
<html lang="en" ng-app="autorizaciones">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Autorizacion de Servicios Médicos ARS Ejemplo</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

</head>
<body class="container">
    <div class="masthead well">
        <h3 class="muted" style="text-align: center">Autorizaciones de servicios de salud</h3>
        <div style="text-align: center">
            <span class="muted">
                <span style="font-size: 15px; font-weight: bold" class="muted">ARS IA</span>
                "La salud del pueblo"</span>
        </div>
        <div class="pull-left">
            <h3 class="muted">@ViewBag.Prestadora  </h3>
        </div>
        <div class="pull-right">
            @using (@Html.BeginForm("CerrarSesion", "Seguridad", FormMethod.Get, new { Class = "form-inline" }))
            {
                <span class="muted">Usuario: @ViewBag.Usuario.Login  </span>
                <button type="submit" class="btn btn-danger">Cerrar Sesión </button>
            }
        </div>
        <div class="container">
        </div>
        <div class="navbar cont" data-ng-controller="NavBarCtrl">
            <div class="navbar-inner">
                <div>
                    <ul class="nav">
                        <li data-ng-class="EstoyActivo('Autorizar', '@ViewBag.Pagina')"><a href="/Home/Index">Solicitud de Autorizacion de Servicios</a></li>
                        <li  data-ng-class="EstoyActivo('Consulta', '@ViewBag.Pagina')"><a href="/Consultas/Reportes">Reporte de Autorizaciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.navbar -->
    </div>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year -</p>
            </div>
        </div>
    </footer>


    <div id="reportWindow" class="modal hide" style="margin: 0 0 0 -470px;">

        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>
                <label id="reportWindowTitle"></label>
            </h3>
        </div>

        <div style="padding: 10px;">
            <iframe id="reportWindowUrl" style="width: 100%; height: 550px;"></iframe>
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>

    </div>

</body>


<script src="../Scripts/jquery-2.0.3.min.js"></script>

<script src="../Scripts/jquery-ui-1.10.3.min.js"></script>
<script src="../Scripts/jquery.ui.datepicker-es.js"></script>

<script src="../Scripts/bootstrap.min.js"></script>

<script src="../Scripts/angular.js"></script>

<script src="../Scripts/AngularStrap.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="../js/Helpers.js"></script>
<script src="../js/app.js"></script>

@RenderSection("Scripts", false)

</html>

