<!DOCTYPE html>
<html lang="en" ng-app="autorizaciones">
    <head>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Autorizacion de Servicios Médicos ARS Ejemplo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year -</p>
                </div>
            </div>
        </footer>

    </body>
</html>
<script src="~/js/Helpers.js"></script>
